@{
    ViewData["Title"] = "Home Page";
}

<body>
   
    <div  class="bg">
        <div class="text-box">
             <h1>JobScope</h1>
             <br />
             
             <div class="typewriter">
                <h3>“. . . Because people are our most precious assets,</h3>
                <div class="typewriter-text">
                <h3> we only let the best managers in the world lead them” </h3>
                </div>
              </div>

             <div class="row"> 
                <a  asp-area="" asp-controller="Account" asp-action="RegisterUser">Join Us</a>
                <a  asp-area="" asp-controller="Account" asp-action="Login">Log In</a>
            </div>

        </div>
    </div>
    
</body>

@section Scripts
{
    <link rel="stylesheet" type="text/css" href="~/css/JobScopeStyle.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.js">
    </script>
    <script type="text/javascript">
    $(document).ready(function () {
    $('#dataTable').DataTable();
    });

    </script>

}