@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To JobScope</h1>
    <p> where Dreams becomes a reality by adding a little time and effort.</p>
    <p>This is Group 3 web application</p>
</div>
